[Desktop Entry]
Name=GOC Church Presenter
Exec=freeshow %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
StartupWMClass=FreeShow
Comment=GOC Church Presenter — church presentation software
Categories=AudioVideo;
